.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

body {
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  color: white;
  font-size: 7rem;
  margin: 5% auto
}
h5{
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin: 0 auto;
}
h3{
  text-align: center;
  color: white;
  font-size: 3rem;

}
ul {
  display: block;
  text-align: center;
}
li {
  display: list-item;
}

li, form, span{
  list-style-position: inside;
  text-align: center;
  color: white;
  font-size: 3rem;
}
.refresh {
  text-align: center;
}
