.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

body {
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  color: white;
  font-size: 5rem;
}
h5{
  text-align: center;
  color: white;
  font-size: 2rem;

}
h3{
  text-align: center;
  color: white;
  font-size: 3rem;

}
ul {
  display: flex;
  justify-content: center;
}

li, form, span{
  text-align: center;
  color: white;
  font-size: 2.5rem;
}
.refresh {
  text-align: center;
}
